@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Merriweather:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: #3a3a3a;
    font-family: bitter, sans-serif;
}

/* Headings and logo */
header {

    background-color: coral;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    width: 100%;
}

h1,
h2, h3{
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;

}

#logo {
    float: left;
    font-size: 250%;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 20%;
}



/* Navigation links */

.menu {
    font-size: 120%;
    letter-spacing: 1px;

}

.menu a:hover {
    color: red;
}

.active {
    border-bottom: 1px solid red;
}


.menu ul {
    display: inline-flex;
    margin: 15px;
}


.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: blue;

}

#sign-btn {
    padding: 3px;
    top: 15px;
    right: 40px;
    position: absolute;
    border: 2px solid black;
}


.menu a {
    text-decoration: none;
    color: black;
}

/* Hero image and Hero Text*/

#hero-section {
    background-image: url(../images/Hero-image.jpg);
    max-width: 100%;
    height: 90vh;
    background-size: cover;
    position: relative;
    margin-top: 8vh;

}

#heroimage {

    position: relative;
}

#freetrial {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 2px;
    border: 3px solid black;
    
   
}

#master{
    color: white;
    margin-bottom: 10px;
   
}


#hero-text {

position: absolute;
    width: 100%;
    text-align: center;
    top: 30vh;
    right: 15vh;
    color: white;
    font-size: 150%;
    
   

}
#hero-text h3{
    margin-bottom: 20px;
}



/* Why YogaOnline section*/

#yoga-img{
    max-width:100%;
    max-height:100%;
}

#yoga-img>img{
    height: 50%;
    width: 50%;
    border-radius: 25%;
    border: 5px solid black;
    
}





/* Reviews section*/

.review {
    display: flex;
    flex-wrap: nowrap;
    
}

.review-section>div {
    text-align: center;
}

.review>div {

    width: 33%;
    margin: 10px;

}

.review>div>h3 {
    text-align: center;

}

.review>div>p {
    border: 2px solid black;
    padding: 5px;
    margin: 0 5px 0 5px;
}

.stars{
    padding: 10px 3px 10px 3px;
   
}



/* .reviews section h2,
h4 {
    text-align: center;
    margin-top: 20px;
}

#reviews div p {
    width: 300px;
    padding: 10px;
    border: 3px solid black;
} */


/* Footer section and font awesome*/

footer {
    background-color: lightgray;
    height: 10vh;
    width: 100%;
    margin-top: 10vh;
    position: absolute;
    
}

footer ul {

    display: flex;
    margin-top: 3vh;

}

footer ul li {
    list-style: none;
    margin: auto;
    letter-spacing: 2px;

}


#insta {
    color: rgb(246, 1, 140);


}

#fb {
    color: #3b5998;



}

#yt {
    color: #FF0000;

}

.social-m {
    font-size: 30px;

}

/*      Classes-page      */

.classes-outer{
    
}

#choose{
    margin-top: 10vh;
    text-align: center;
    margin-bottom: 8vh;
}

.img-wrapper{max-width:100%;
    max-height:100%;
    
   
    
}

.img-wrapper>img{
    height: 50%;
    width: 50%;
}

.text-wrapper{
    height: 50%;
    width: 50%;
    text-align: center;
    font-size: large;
    
    
    
   
}
#ashtanga{
    float:left;
    
}
#hatha{
    float: right;
    
}
#yin{
    
    float: left;
    }


    /* Trial-page */

    #trial-video{
        margin-top: 8vh;
        max-width: 50%;
        height: auto;
      
        
    }

  

    #trial-video>video{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
      position: absolute;
        
       
    }

    #video-outer{
        display: flex;
        
    }
    #input-div{
        
        color: black;
        position: relative;
        text-align: center;
        margin: auto;
        margin-bottom: 50vh;
        height: 30vh;
        width:20vh;
        
        margin-top: 10vh;
        
        
    }

    #input-div>form>input{
        text-align: center;
    }