@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Merriweather:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: green;
    font-family: bitter, sans-serif;
}

/* Headings and logo */
h1, h2{
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;

}

#logo{
    float: left;
    font-size: 250%;
    letter-spacing: 2px;
}

/* Navigation links*/ 

#nav-links{
font-size: 120%;
letter-spacing: 1px;
}
#nav-links a:hover{
    color:red;
}
.active{border-bottom: 1px solid red;}
#nav-links, #logo{
    line-height: 100px;
}

#nav-links li{
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#nav-links a{
    text-decoration: none;
    color: black;
}

/* Hero image*/

#heroimage{
   background-image: url(../images/Hero-image.jpg);
   width: 100%;
    min-height: 90vh;
    background-position: center;
    background-size: cover;
}