@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Merriweather:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    background-color: beige;
    font-family: Bitter, sans-serif;
}

/* Headings and logo */
header {
    background-color: bisque;
    height: 8vh;
    width: 100%;
}

h1,
h2,
h3 {
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

#logo {
    padding-left: 5px;
    float: left;
    font-size: 240%;
}

/* Navigation links */
#menu,
#logo {
    line-height: 60px;
}

#menu a:hover {
    color: red;
}

#menu {
    float: right
}

#menu li {
    float: left;
    list-style-type: none;
    padding-right: 10px;
    font-size: 110%;
}

.active {
    border-bottom: 1px solid red;
}

#menu a {

    text-decoration: none;
    color: inherit;
}

/* Hero image and Hero Text*/

#heroimage {
    background-image: url(../images/herosmall.jpg);
    height: 75vh;
    background-size: cover;
    width: auto;

}

#trial-btn {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 2px;
    border: 3px solid black;
}

#text-outer {
    display: flex;

}

#master {
    color: white;
    font-size: 200%;
}

#text-inner {
    padding-top: 30vh;
    text-align: center;
    margin: auto;
}

#text-inner>h3 {
    padding: 0.5rem 0rem 1rem;
    color: white;
}

/* Why YogaOnline section*/
#whyyoga {
    padding-left: 20px;
    padding-top: 25px;
}

#yogaonline-inner {
    display: flex;
    flex-wrap: wrap;

}

.h3p {
    height: auto;
    width: 30vw;
    text-align: center;
    margin: auto;
    padding-bottom: 3vh;
    padding-top: 5vh;
}

#yoga-img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

#yoga-img>img {
    height: auto;
    width: 50%;
    border-radius: 10%;
    border: 5px solid black;
}

/* Reviews section*/

.review {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.review-section>div {
    text-align: center;
    padding-top: 20px;
}

.review>div {
    margin: auto;
}

.review>div>h3 {
    text-align: center;
}

.review>div>p {
    border-style: outset;
    padding: 5px;
    margin-top: 5px;
    height: 140px;
    width: 250px;
}

.stars {
    padding: 10px 3px 10px 3px;
}

/* Footer section and font awesome*/

footer {
    background-color: bisque;
    height: 10vh;
    width: 100%;
    margin-top: 10vh;
    position: absolute;
}

footer ul {

    display: flex;
    flex-wrap: wrap;
    padding-top: 1.2%;
}

footer ul li {
    list-style: none;
    margin: auto;
    letter-spacing: 2px;
}


#insta {
    color: rgb(246, 1, 140);
}

#fb {
    color: #3b5998;
}

#yt {
    color: #FF0000;
}

.social-m {
    font-size: 30px;
}

/*      Classes-page      */
.classes-outer {
    display: flex;
    margin: auto;
}

#choose {
    margin-top: 10vh;
    text-align: center;
    margin-bottom: 8vh;
}

.img-wrapper {
    width: 50%;
    height: auto;
}

.img-wrapper>img {
    height: auto;
    width: 100%;
    margin-top: 3rem;
}

.text-wrapper {
    height: 50%;
    width: 50%;
    text-align: left;
    font-size: large;
    padding: 2rem;
}

/* Sign up-page */
#trial-video {
    max-width: 100%;
}

#trial-video>video {
    width: 100vw;
    height: 30rem;
    object-fit: cover;
    overflow: hidden;
}

#letsgo {
    padding: 0.5rem;
}

#sign-txt {
    text-align: center;
    padding: 1rem;
}
#sign-txt>h3{
    padding-bottom: 5px;
}


#input-div>form {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

#input-div>form>label,
#input-div>form>input {

    width: 10rem;
    height: 1.5rem;
    margin: auto;
    text-align: center;
    border-radius: 3%;
    border-color: hwb(60 75% 1%);
}

#sbutton {
    width: 5rem;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    letter-spacing: 1px;
    padding: 3px;
}

#form {
    background: linear-gradient(0.5turn, #fafaee, #f6f6cd, #f9f9c5);
    border-radius: 20%;
    padding: 5rem;
}

/* Signed-Up Page */ 
#signedup-txt{
    text-align: center;
    margin-top: 30vh;
    height: 30vh;
    background-color:yellow;
}

/*Media Query */

/* xSmall devices (155px and 299px) */

@media (min-width: 155px) and (max-width: 299px) {
    #menu {
        clear: left;
        float: left;
        line-height: 8px;
        padding-top: 2px;
        margin-left: 3px;
    }
    #menu li {
        
        list-style-type: none;
        padding-right: 5px;
        font-size: 100%;
    }

    #logo {
        line-height: 14px;
        font-size: 80%;
        padding-top: 2px;
        margin-left: 3px;
    }

    .classes-outer {
        flex-wrap: wrap;
    }

    #middle-hatha {
        flex-flow: wrap-reverse;
    }

    .img-wrapper,
    .text-wrapper {
        width: 100%;
    }

    .h3p {
        height: auto;
        width: 95%;
        text-align: center;
        margin: auto;
        padding-bottom: 3vh;
        padding-top: 5vh;
    }

    #trial-video>video {
        width: 100vw;
        height: auto;
        object-fit: cover;
        overflow: hidden;
    }
}

/* Small devices (300px and 576px) */
@media (min-width: 300px) and (max-width: 576px) {

    .classes-outer {
        flex-wrap: wrap;
    }

    #middle-hatha {
        flex-flow: wrap-reverse;
    }

    .img-wrapper,
    .text-wrapper {
        width: 100%;
    }

    .h3p {
        height: auto;
        width: 95%;
        text-align: center;
        margin: auto;
        padding-bottom: 3vh;
        padding-top: 5vh;
    }

    #menu {
        clear: left;
        float: left;
        line-height: 16px;
        margin-left: 30%;
        padding-top: 5px;
    }

    #logo {
        line-height: 16px;
        margin-left: 33%;
        font-size: 140%;
        padding-top: 10px;
        padding-left: 0;
    }

    #trial-video>video {
        width: 100vw;
        height: auto;
        object-fit: cover;
        overflow: hidden;
    }
}

/* Medium devices (577px and 768px)*/
@media (min-width: 577px) and (max-width: 768px) {
    #logo {
        font-size: 200%;
    }

    #trial-video>video {
        width: 100vw;
        height: auto;
        object-fit: cover;
        overflow: hidden;
    }

    .classes-outer {
        flex-wrap: wrap;
    }

    #middle-hatha {
        flex-flow: wrap-reverse;
    }

    .img-wrapper,
    .text-wrapper {
        width: 100%;
    }
}

/* Larges devices (769px and 1025px)*/
@media (min-width: 769px) and (max-width: 1025px) {

    .classes-outer {
        flex-wrap: wrap;
    }

    #middle-hatha {
        flex-flow: wrap-reverse;
    }

    .img-wrapper,
    .text-wrapper {
        width: 100%;
    }

    #menu,
    #logo {
        line-height: 56px;
    }
}